
@model POC_Web.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
}


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">

                <div class="container">
                    <div id="login-row" class="row justify-content-center align-items-center">
                        <div id="login-column" class="col-md-6">
                            <div>
                                <span>@TempData["registerMessage"]</span>
                            </div>
                            <div class="login-box col-md-12">
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                {

                                    using (Html.DevExtreme().ValidationGroup())
                                    {

                                        @Html.AntiForgeryToken()
                                        <div class="dx-fieldset">

                                            <div class="dx-fieldset-header"><h1><span>Login</span></h1></div>
                                            @(Html.DevExtreme().ValidationSummary()
                                                                                                                                            .ID("summary")
                                            )
                                            <div class="dx-field">
                                                @Html.ValidationMessage("LogOnError", new { @class = "text-danger" })
                                            </div>

                                            <div class="dx-field">
                                                <div class="dx-field-label">
                                                    @Html.LabelFor(m => m.Email)
                                                </div>
                                                <div class="dx-field-value">
                                                    @Html.DevExtreme().TextBoxFor(m => m.Email)
                                                </div>
                                            </div>
                                            <div class="dx-field">
                                                <span class="dx-field-label">
                                                    @Html.LabelFor(m => m.Password)
                                                </span>
                                                <div class="dx-field-value">
                                                    @(Html.DevExtreme().TextBoxFor(m => m.Password).Mode(TextBoxMode.Password)
                                                    )
                                                </div>
                                            </div>


                                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>

                                            <div class="dx-fieldset" style="text-align:right" >
                                                @(Html.DevExtreme().Button()
                                                                                                                                            .ID("button")
                                                                                                                                            .Text("Login")
                                                                                                                                            .Type(ButtonType.Success)
                                                                                                                                            .UseSubmitBehavior(true)
                                                )
                                            </div>

                                        </div>


                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
</div>

<script>
    // run the windowLoaded when the page loads
    window.addEventListener("load", windowLoaded);

    function windowLoaded() {
        $("#navbar").remove();
        $("#footer").remove();
        $("#themeDropDownBoxContainer").remove();

        $("#loginModal").modal('show').focus();

    }
</script>