
@model POC_Web.ViewModel.LoginViewModel

@{
	ViewBag.Title = "Login";
}

<script>

	var url = "http://localhost:51274/api";
	$(function () {

		//$("#btnSubmit").click(function () {

		//	var model = {
		//		Id: 0,
		//		Name:"",
		//		UserName: $("#username").val(),
		//		Password: $("#password+").val()
		//	}

		//	console.log(model);

		//	$.ajax({
		//		url: 'http://localhost:51274/api/account/login',
		//		type: 'POST',
		//		data:model,
		//		crossDomain: true,
		//		success: function (msg) {
		//			alert("success");

		//		},
		//		error: function (request, status, error) {
		//			alert(error);
		//		}
		//	});

		//});

	});

</script>


<div id="login">
	<h3 class="text-center text-white pt-5"><label class="label">Login form</label></h3>
	<div class="container">
		<div id="login-row" class="row justify-content-center align-items-center">
			<div id="login-column" class="col-md-6">
				<div class="login-box col-md-12">

					@using (Html.BeginForm("Login", "Account", FormMethod.Post))
					{

						using (Html.DevExtreme().ValidationGroup())
						{

							@Html.AntiForgeryToken()
					<div class="dx-fieldset">

						<div class="dx-fieldset-header">Login</div>
						@(Html.DevExtreme().ValidationSummary()
														.ID("summary")
						)
						<div class="dx-field">
							@Html.ValidationMessage("LogOnError", new { @class = "text-danger" })
						</div>
						
						<div class="dx-field">
							<div class="dx-field-label">
								@Html.LabelFor(m => m.Email)
							</div>
							<div class="dx-field-value">
								@Html.DevExtreme().TextBoxFor(m => m.Email)
							</div>
						</div>
						<div class="dx-field">
							<span class="dx-field-label">
								@Html.LabelFor(m => m.Password)
							</span>
							<div class="dx-field-value">
								@(Html.DevExtreme().TextBoxFor(m => m.Password).Mode(TextBoxMode.Password)
								)
							</div>
						</div>


						<label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>

						<div class="dx-fieldset">
							@(Html.DevExtreme().Button()
														.ID("button")
														.Text("Login")
														.Type(ButtonType.Success)
														.UseSubmitBehavior(true)
							)
						</div>

					</div>


						}
					}



				</div>

			</div>
			<div class="col-md-6">
				<h3 class="text-center text-info" style="margin-top:250px;">
				POC XML Conversion
				</h3>
			</div>
		</div>
	</div>
</div>
