<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POC_Web</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

	<script>
		var url = "@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]api";

		function toastNotification(msg,type) {
			DevExpress.ui.notify({
				message:msg ,
				type: type,
				minHeight: 150,
				deferRendering: true,
				height: "auto",
				width: 500,
				displayTime: 2000,
				position: {
					at: 'right top',
					offset: '-300 100'
				},
				closeOnClick: true,
				collision: {
					x: "flip", // horizontal collision handler
					y: "none" // vertical collision handler
				}
			})
		}

	</script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">POC_Web</a>
            </div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="@Url.Action("index", "home")">Home</a></li>
					<li><a href="@Url.Action("Process", "xml")">Process</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="/account/manage">Users</a></li>
				</ul>

				@Html.Partial("_LoginPartial")
			</div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top:60px;">
        @RenderBody()
    </div>
</body>

</html>